<!DOCTYPE html>
<html>
<head>
    <title>Beachfront</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block viewport %}{% endblock %}
    {% block foot %}{% endblock %}
</body>
</html>
