<h1>GeoTIFF for <code>{{ scene_id }}</code> is activating</h1>
<p>
    We're still requesting the GeoTIFF for this scene for you.  Your
    browser will automatically be redirected to the GeoTIFF file when it
    is ready. <strong>If this takes longer than an hour, please contact
    the Beachfront team for technical support.</strong>
</p>

<p>
    Your wait time so far is: <code class="elapsed">NN duration</code>.
</p>

<script>
    setTimeout(location.reload.bind(location), 30000)

    var t = sessionStorage.getItem(location.href)
    if (!t) {
        t = Date.now()
        sessionStorage.setItem(location.href, t)
    }

    // Update thingy
        var seconds = Math.ceil((Date.now() - t) / 1000)
    var timeElapsed = seconds < 60 ? seconds + ' second(s)' : Math.floor(seconds / 60) + ' minute(s)'
    document.querySelector('.elapsed').textContent = timeElapsed
</script>

<style>
    body {
        margin: 5em;
        font: 18px sans-serif;
        line-height: 1.75em;
    }
    .elapsed {
        background-color: #eee;
        color: #555;
        padding: .3em;
        margin: 0 .25em;
        font-weight: bold;
    }
</style>
