{% extends '_layout.jinja2' %}

{% block viewport %}
    Welcome, {{ user }} | <a href="{{ url_for('logout') }}">Log Out</a>

    <div id="app"></div>

    <script src="{{ static_url_for('build.js') }}"></script>
{% endblock %}
